
html {
    box-sizing: "border-box"
  }

.center {
  text-align: center;
}

ul {
    list-style: none;
    padding: 0;

}

img {
    display: inline;
    width: 200px;
    height: 100px;
  }

#footer {
        width: 100%;
        border-top: solid 2px black;
        background-color: white;
        position: fixed;
        bottom: 0;
    }

.guess {
      display: inline;
      font-size: 60px;
      border: 2px solid navy;
      padding: 0 25px;
      border-radius: 10%;
      color: navy;
    }

#player-input {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      font-size: 50px;
      color: navy;
  }

#submit {
      border-radius: 80%;
      height: 50px;
      width: 50px;
      position: absolute;
      bottom: 0;
      right: 0;

    }

#input-parent {
      width: 160px;
      height: 160px;
      margin: 0 auto 0 auto;
      position: relative;
    }

body {
    background-image: url('../img/axisguessing.jpg');

    }

#headers {
  color: navy;
  }

#guess-list {
  margin-top: 20px;

  }

/*
  .container {
    text-align: center;
    display: inline-block;
  }
*/
  #app {
    background-color: rgba(256, 256, 256, 0.3);
    margin: 100px auto;

  }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
